<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:permissionGroup="android.permission-group.STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.codeatlas.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.codeatlas.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeAtlas"
        tools:targetApi="31" >
        <activity
            android:name=".LessonActivity"
            android:exported="false" />
        <activity
            android:name=".LevelCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".SelectTopicActivity"
            android:exported="false" />
        <activity
            android:name=".SelectTrackActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".CreateForumPostActivity"
            android:exported="false" />
        <activity
            android:name=".ForumPostActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyEmailDialog"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordDialog"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".ArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".EventsActivity"
            android:exported="false" />
        <activity
            android:name=".ThreadsActivity"
            android:exported="false" />
        <activity
            android:name=".ForumsActivity"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".DialogSelectSource"
            android:exported="false" />
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".ChoosePicture"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".RoadmapActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".InfoPageActivity"
            android:exported="false" />
    </application>

</manifest>